body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
.key {
	color: #6666cc;
}
#running {
	display: none;
}
#json {
	font-family: monospace;
	white-space: pre;
	overflow: auto;
	flex-shrink: 1;
	padding-left: 3px;
	padding-right: 3px;
	display: none;
}
#nav {
	padding: 5px;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
}
#nav input {
	flex-grow: 1;
}
#conf {
	overflow: auto;
	flex-shrink: 1;
	padding: 3em;
	line-height: 2em;
	flex-grow: 1;
}
#conf input {
	width: 3em;
}
#nav, #conf {
	background-color: #ccc;
}